<div class="row g-0 flex-fill bg-white">
    <div class="col-12 col-lg-6 col-xl-4 border-top-wide border-primary d-flex flex-column justify-content-center">
      <div class="container container-tight my-5 px-lg-5">
        <div class="text-center mb-4">
          <a href="/" class="h1 navbar-brand navbar-brand-autodark">
            LoginApp
          </a>
        </div>
        <h2 class="h3 text-center mb-3">
          
        </h2>
        <div class="alert alert-primary">
            <p class="text-primary fw-bold">Enter your email address and your password will be reset and emailed to you.</p>
        </div>

        <form action="./" method="get" autocomplete="off" novalidate="">
          <div class="mb-3">
            <label class="form-label">Email address</label>
            <input type="email" class="form-control" placeholder="Enter Your Email" autocomplete="off">
          </div>
          <div class="form-footer">
            <button type="submit" class="btn btn-primary w-100">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><rect x="3" y="5" width="18" height="14" rx="2" /><polyline points="3 7 12 13 21 7" /></svg>
                Recover Your password
            </button>
          </div>
        </form>
        <div class="text-center text-muted mt-3">
          Don't have account yet? <a href="/register" tabindex="-1">Sign up</a>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 col-xl-8 d-none d-lg-block">
      <!-- Photo -->
      <div class="bg-cover h-100 min-vh-100" style="background-image: url(./img/making-magic-with-fairy-lights.jpg)"></div>
    </div>
  </div>